/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(224, 224, 255);
    line-height: 1.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin: 0px;
    padding: 0;
    border: 0;
}

header {
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 7px;
    padding: 20px;
    width: 100%;
    margin: 10px auto;
    display: block;
    background-color: rgb(41, 27, 54);
    color: white;
    position: relative;
}

div {
    text-align: center;
    padding: 10px;
    width: 80%;
    max-width: 500px;
    margin: 10px auto;
} 

ul.charUl {
    font-size: 14px;
    display: table;
    padding: 10px;
    margin: auto;
    border: double 5px black;
    text-align: left;
    list-style-type: none;
}